.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-box {
    background: #0F1713;
    padding: 25px 30px;
    border-radius: 16px;
    width: 320px;
    text-align: center;
    color: #E8FFF8;
    box-shadow: 0 10px 40px rgba(0,150,100,0.3);
    animation: popupFade 0.25s ease-out;
    border: 1px solid rgba(0,255,180,0.1);
}

.popup-btn {
    margin-top: 18px;
    background: #147A58;
    color: #E8FFF8;
    padding: 8px 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s ease;
}

.popup-btn:hover {
    background: #1E8D68;
}
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Đẩy hai bên ra xa cho cân */
.dataTables_wrapper .dataTables_length {
    float: left !important;
}

.dataTables_wrapper .dataTables_filter {
    float: right !important;
}
html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.footer-custom {
    padding: 40px 0;
    background: black;
    border-top: 1px solid #555;
    color: white;
}

